@{
    ViewBag.Title = "Daily Activity Report";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div class="container mt-4">
    <h2>@ViewBag.Title</h2>

    <h3><center>Report for: @ViewBag.ReportDate</center></h3>

    <form method="get" action="@Url.Action("DailyReport", "Reports")">
        <div class="form-group">
            <label for="reportDate">Day:</label>
            <input type="date" id="reportDate" name="reportDate" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Lọc</button>
    </form>

    @if (ViewBag.ReportData != null)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>List</th>
                    <th>Savings Type</th>
                    <th>Day</th>
                    <th>Total Revenue</th>
                    <th>Total Expenditure</th>
                    <th>Difference</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int count = 1;
                    var reportData = (List<Projekt_1.Controllers.ReportsController.ReportData>)ViewBag.ReportData;
                    foreach (var item in reportData)
                    {
                        <tr>
                            <td>@count</td>
                            <td>@item.SavingsType</td>
                            <td>@item.Date.Value.ToString("dd/MM/yyyy")</td>
                            <td>@item.TotalIncome</td>
                            <td>@item.TotalExpense</td>
                            <td>@item.Difference</td>
                        </tr>
                        count++;
                    }
                }
            </tbody>
        </table>
    }
</div>