@model Projekt_1.Model.WithdrawalSlip

@{
    ViewBag.Title = "Details Withdrawal Slip";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2 class="mb-4 text-primary">Withdrawal Slip Details</h2>

<div class="card shadow mb-4">
    <div class="card-header bg-primary text-white">
        <h4 class="mb-0">Withdrawal Slip Information</h4>
    </div>
    <div class="card-body">
        <div class="row mb-3">
            <div class="col-md-6">
                <strong>@Html.DisplayNameFor(model => model.WithdrawalAmount):</strong>
                <p>@Html.DisplayFor(model => model.WithdrawalAmount)</p>
            </div>
            <div class="col-md-6">
                <strong>@Html.DisplayNameFor(model => model.WithdrawalDate):</strong>
                <p>@Html.DisplayFor(model => model.WithdrawalDate)</p>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                <strong>@Html.DisplayNameFor(model => model.passbook.SavingsBookID):</strong>
                <p>@Html.DisplayFor(model => model.passbook.SavingsBookID)</p>
            </div>
            <div class="col-md-6">
                <strong>@Html.DisplayNameFor(model => model.user.user_address):</strong>
                <p>@Html.DisplayFor(model => model.user.user_address)</p>
            </div>
        </div>
    </div>
</div>

<div class="d-flex justify-content-start gap-2">
    @Html.ActionLink("Edit", "Edit", new { id = Model.WithdrawalID }, new { @class = "btn btn-warning" })
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })
</div>
